@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "Inika";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url("./assets/fonts/Inika/Inika.woff2") format("woff2"), url("./assets/fonts/Inika/Inika.woff") format("woff"), url("./assets/fonts/Inika/Inika.ttf") format("truetype");
}
@font-face {
  font-family: "Inika";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url("./assets/fonts/Inika/Inika-Bold.woff2") format("woff2"), url("./assets/fonts/Inika/Inika-Bold.woff") format("woff"), url("./assets/fonts/Inika/Inika-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 300;
  font-display: swap;
  font-style: normal;
  src: url("./assets/fonts/Inter/Inter-Light.woff2") format("woff2"), url("./assets/fonts/Inter/Inter-Light.woff") format("woff"), url("./assets/fonts/Inter/Inter-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url("./assets/fonts/Inter/Inter-Regular.woff2") format("woff2"), url("./assets/fonts/Inter/Inter-Regular.woff") format("woff"), url("./assets/fonts/Inter/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url("./assets/fonts/Inter/Inter-Bold.woff2") format("woff2"), url("./assets/fonts/Inter/Inter-Bold.woff") format("woff"), url("./assets/fonts/Inter/Inter-Bold.ttf") format("truetype");
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #EDF2EC;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter";
}

[class*=__container] {
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 993px) {
  [class*=__container] {
    width: 1220px;
  }
}
@media only screen and (max-width: 992px) {
  [class*=__container] {
    width: 668px;
  }
}
@media only screen and (max-width: 767px) {
  [class*=__container] {
    max-width: 330px;
    padding: 0 15px;
    width: unset;
  }
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

.button {
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter";
  text-transform: uppercase;
  line-height: 20px;
  color: #000;
  padding: 12px 25px 13px;
  border: 2px solid #E06733;
  border-radius: 10px;
  transition: 0.5s ease-in-out all;
}
@media only screen and (max-width: 767px) {
  .button {
    font-size: 10px;
    padding: 8px 18px;
  }
}
.button:hover {
  background-color: #E06733;
  color: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 42px 0;
}
.header__logo {
  font-size: 16px;
  font-weight: 400;
  font-family: "Inika";
  display: flex;
  align-items: flex-end;
}

.nav__menu {
  display: flex;
}
.nav__item {
  margin-right: 46px;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  transition: 0.3s;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inika";
  color: #010201;
}
.nav__link:hover {
  color: #E06733;
}
@media only screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.welcome__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 62px;
  padding-bottom: 94px;
}
@media only screen and (max-width: 992px) {
  .welcome__container {
    flex-direction: row-reverse;
  }
}
@media only screen and (max-width: 767px) {
  .welcome__container {
    padding: 24px 0;
  }
}
.welcome__img {
  flex: 0 1 auto;
}
@media only screen and (max-width: 992px) {
  .welcome__img {
    width: 280px;
  }
}
@media only screen and (max-width: 767px) {
  .welcome__img {
    display: none;
  }
}
.welcome__info {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 224px;
}
@media only screen and (max-width: 992px) {
  .welcome__info {
    margin-left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .welcome__info {
    margin: 0;
  }
}
.welcome__title {
  font-size: 45px;
  font-weight: 700;
  font-family: "Inter";
  line-height: 50px;
  color: #717171;
}
.welcome__title span {
  color: #499A18;
}
@media only screen and (max-width: 992px) {
  .welcome__title {
    font-size: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .welcome__title {
    font-size: 25px;
  }
}
.welcome__text {
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter";
  line-height: 35px;
  color: #636060;
  margin-top: 42px;
  margin-bottom: 48px;
}
@media only screen and (max-width: 992px) {
  .welcome__text {
    font-size: 16px;
    width: 341px;
    margin: 30px 0;
  }
}
@media only screen and (max-width: 767px) {
  .welcome__text {
    margin: 20px 0;
  }
}

.about {
  background-color: #fff;
}
.about__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 93px;
  padding-bottom: 94px;
}
@media only screen and (max-width: 992px) {
  .about__container {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 95px;
  }
}
@media only screen and (max-width: 767px) {
  .about__container {
    padding-top: 30px;
    padding-bottom: 31px;
  }
}
.about__info {
  display: flex;
  flex-direction: column;
  margin-right: 153px;
}
@media only screen and (max-width: 992px) {
  .about__info {
    margin: 0 auto;
    width: 668px;
  }
}
@media only screen and (max-width: 767px) {
  .about__info {
    width: 330px;
  }
}
.about__title {
  font-size: 40px;
  font-weight: 400;
  font-family: "Inika";
  line-height: 52px;
  color: #499A18;
}
.about__title span {
  color: #E06733;
}
@media only screen and (max-width: 992px) {
  .about__title {
    text-align: center;
    width: 423px;
    margin: 0 auto;
    font-size: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .about__title {
    font-size: 25px;
    width: auto;
  }
}
.about__text {
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter";
  line-height: 30px;
  color: #636060;
  margin-top: 40px;
}
@media only screen and (max-width: 992px) {
  .about__text {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .about__text {
    font-size: 15px;
    line-height: 25px;
    margin-top: 21px;
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 992px) {
  .about__img {
    width: 250px;
    height: 258px;
  }
}

.service__container {
  padding-top: 40px;
  padding-bottom: 121px;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 992px) {
  .service__container {
    padding-top: 60px;
    padding-bottom: 70px;
  }
}
@media only screen and (max-width: 767px) {
  .service__container {
    padding-top: 30px;
    padding-bottom: 27px;
  }
}
.service__tag-container {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 992px) {
  .service__tag-container {
    align-items: flex-start;
    flex-direction: column;
  }
}
.service__title {
  width: 306px;
  font-size: 40px;
  font-weight: 400;
  font-family: "Inika";
  line-height: 52px;
  color: #499A18;
  margin-right: 140px;
}
@media only screen and (max-width: 992px) {
  .service__title {
    margin-bottom: 40px;
    font-size: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .service__title {
    font-size: 25px;
    width: 187px;
    margin-bottom: 35px;
    line-height: 33px;
  }
}
.service__tags button {
  font-size: 20px;
  font-weight: 400;
  font-family: "Inika";
  line-height: 26px;
  color: #E06733;
  border: 1px solid #E06733;
  border-radius: 5px;
  padding: 12px 40px;
  transition: 0.3s all;
  margin-right: 38px;
}
.service__tags button:nth-child(3) {
  margin-right: 0;
}
@media only screen and (max-width: 767px) {
  .service__tags button:nth-child(3) {
    margin-top: 9px;
  }
}
.service__tags button:hover {
  background-color: #E06733;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .service__tags button {
    padding: 8px 28px;
    font-size: 15px;
    line-height: 20px;
    margin-right: 10px;
    width: 121px;
  }
}
.service__cards {
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(3, 330px);
  grid-template-rows: 2;
  justify-content: space-between;
  gap: 55px 116px;
}
@media only screen and (max-width: 992px) {
  .service__cards {
    margin-top: 40px;
    grid-template-columns: repeat(2, 281px);
    gap: 38px 106px;
  }
}
@media only screen and (max-width: 767px) {
  .service__cards {
    display: flex;
    flex-direction: column;
    gap: 34px;
  }
}

.card__img {
  border-radius: 20px 20px 0px 0px;
}
@media only screen and (max-width: 992px) {
  .card__img {
    width: 280px;
  }
}
.card__info {
  padding-top: 10px;
  padding-bottom: 36px;
  border-bottom: 1px solid #E3E1D5;
  border-left: 1px solid #E3E1D5;
  border-right: 1px solid #E3E1D5;
  border-radius: 0px 0px 20px 20px;
}
@media only screen and (max-width: 992px) {
  .card__info {
    padding-top: 10px;
    padding-bottom: 20px;
    width: 280px;
  }
}
.card__title {
  font-size: 20px;
  font-weight: 700;
  font-family: "Inter";
  line-height: 20px;
  text-align: center;
  color: #E06733;
  margin-bottom: 10px;
}
.card__text {
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter";
  line-height: 20px;
  text-align: center;
  color: #717171;
}
@media only screen and (max-width: 992px) {
  .card__text {
    width: 201px;
    margin: 0 auto;
  }
}

.prices {
  background-color: #fff;
}
.prices__container {
  padding-top: 38px;
  padding-bottom: 129px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 992px) {
  .prices__container {
    padding-top: 40px;
    padding-bottom: 88px;
  }
}
@media only screen and (max-width: 767px) {
  .prices__container {
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 40px;
  }
}
.prices__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #000;
}
@media only screen and (max-width: 992px) {
  .prices__title {
    font-size: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .prices__title {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
  }
}
.prices__title--accent {
  text-align: right;
}
.prices__title--accent span {
  color: #499A18;
}
@media only screen and (max-width: 992px) {
  .prices__title--accent {
    font-size: 25px;
  }
}
@media only screen and (max-width: 767px) {
  .prices__title--accent {
    font-size: 20px;
    line-height: 35px;
    text-align: center;
  }
}
.prices__accordion-content {
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  padding: 34px 41px;
  margin-top: 94px;
}
@media only screen and (max-width: 767px) {
  .prices__accordion-content {
    padding: 29px 22px;
    margin-top: 40px;
  }
}
.prices__promo {
  width: 452px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media only screen and (max-width: 992px) {
  .prices__promo {
    margin-top: 139px;
  }
}
@media only screen and (max-width: 767px) {
  .prices__promo {
    margin-top: 19px;
    width: 230px;
    margin: 19px auto 0;
  }
}
.prices__button {
  font-size: 20px;
  font-weight: 700;
  font-family: "Inika";
  line-height: 26px;
  color: #E06733;
  border: 1px solid #E06733;
  border-radius: 5px;
  padding: 12px 40px;
  transition: 0.3s all;
  margin: 38px 0 39px;
}
@media only screen and (max-width: 992px) {
  .prices__button {
    margin: 22px 0 34px;
  }
}
@media only screen and (max-width: 767px) {
  .prices__button {
    padding: 8px 22px;
    font-size: 15px;
    width: 121px;
    margin: 14px auto 0;
  }
}
.prices__button:hover {
  background-color: #E06733;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .prices__img {
    display: none;
  }
}

.accordion {
  display: flex;
  flex-direction: column;
}
.accordion__btn {
  font-size: 20px;
  font-weight: 700;
  font-family: "Inter";
  line-height: 20px;
  color: #000;
  padding: 17px 40px;
  background: #EDF2EC;
  border-radius: 20px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .accordion__btn {
    font-size: 15px;
    padding: 16px 40px 16px 30px;
  }
}
.accordion__btn:last-child {
  margin-bottom: 0;
}
.accordion__btn img {
  padding: 7px 6px 7px;
  border-radius: 50%;
  align-self: center;
  background: #D9D9D9;
}
.accordion__subtitle {
  text-align: left;
  width: 100px;
  margin-right: 54px;
}
@media only screen and (max-width: 767px) {
  .accordion__subtitle {
    width: 89px;
    margin-right: 5px;
  }
}
.accordion__text {
  font-size: 10px;
  font-weight: 300;
  font-family: "Inter";
  line-height: 10px;
  color: #717171;
}
.accordion__price {
  font-size: 12px;
  font-weight: 700;
  font-family: "Inter";
  line-height: 20px;
}
.accordion__price span {
  color: #E06733;
  font-size: 16px;
}
.accordion__order {
  width: 86px;
  height: 25px;
  font-size: 14px;
  font-weight: 700;
  font-family: "Inter";
  line-height: 20px;
  color: #717171;
  background: #fff;
  border-radius: 10px;
}

.contacts__container {
  padding-top: 53px;
  display: grid;
  grid-template-columns: repeat(3, 400px);
}
@media only screen and (max-width: 992px) {
  .contacts__container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 767px) {
  .contacts__container {
    padding-top: 25px;
  }
}
@media only screen and (max-width: 992px) {
  .contacts__img {
    order: 1;
    width: 200px;
    height: 248.49px;
    margin-top: 250px;
  }
}
@media only screen and (max-width: 767px) {
  .contacts__img {
    margin-top: 132px;
  }
}
.contacts__title {
  font-size: 40px;
  font-weight: 700;
  font-family: "Inika";
  line-height: 52px;
  color: #499A18;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .contacts__title {
    font-size: 25px;
    line-height: 33px;
  }
}
.contacts__label {
  cursor: pointer;
  height: 50px;
  width: 450px;
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  margin-top: 148px;
}
@media only screen and (max-width: 992px) {
  .contacts__label {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .contacts__label {
    width: 300px;
    margin-top: 80px;
  }
}
.contacts__label span {
  width: 204px;
  height: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #717171;
}
.contacts__label img {
  padding: 6px;
  border-radius: 50%;
  align-self: center;
  background: #AEA1A1;
}

.footer {
  background-color: #fff;
}
.footer__container {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
@media only screen and (max-width: 992px) {
  .footer__container {
    flex-direction: column;
    padding: 33px 0 18px;
  }
}
@media only screen and (max-width: 767px) {
  .footer__container {
    padding: 22px 0 16px;
  }
}
.footer__info span {
  margin-right: 20px;
}
.footer__info a {
  cursor: pointer;
}
@media only screen and (max-width: 992px) {
  .footer__subtitle {
    margin: 16px 0;
  }
}
.footer__social-nets {
  display: flex;
}
.footer__social-nets li {
  margin-right: 20px;
}
.footer__social-nets li:last-child {
  margin-right: 0;
}
.footer__social-nets a {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
