@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  color: inherit;
  outline: none;
}

a:focus, a:active {
  color: inherit;
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

[class*=__container] {
  margin: 0 auto;
}
@media only screen and (min-width: 993px) {
  [class*=__container] {
    width: 1200px;
  }
}
@media only screen and (max-width: 992px) {
  [class*=__container] {
    width: 708px;
  }
}
@media only screen and (max-width: 767px) {
  [class*=__container] {
    max-width: 280px;
    width: unset;
  }
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

.title {
  text-align: left;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-size: 35px;
  font-weight: 400;
  color: #545454;
  font-family: "Georgia";
}
@media only screen and (max-width: 767px) {
  .title {
    font-size: 25px;
  }
}
.title--white {
  color: #FFF;
}

.text {
  color: #4C4C4C;
}
@media only screen and (max-width: 767px) {
  .text {
    text-align: center;
  }
}

.button {
  padding: 15px 45px;
  background: #F1CDB3;
  border-radius: 100px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */
  letter-spacing: 0.06em;
  /* color-dark-3xl */
  color: #292929;
  transition: color 0.3s;
  cursor: pointer;
}
.button:hover {
  background: #FDDCC4;
}

.slider {
  display: flex;
  align-items: center;
  gap: 53px;
}
@media only screen and (max-width: 992px) {
  .slider {
    gap: 12px;
  }
}
@media only screen and (max-width: 767px) {
  .slider {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 12px;
  }
}

.slider__button {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.slider__button:first-of-type {
  transform: rotate(180deg);
}
.slider__button:hover {
  background: #FDDCC4;
  border: #FDDCC4 solid 1px;
}
@media only screen and (max-width: 767px) {
  .slider__button {
    margin-top: 5px;
    order: 1;
  }
}

.slider__content {
  display: flex;
  gap: 90px;
}
@media only screen and (max-width: 992px) {
  .slider__content {
    gap: 40px;
  }
}

.slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background: #FAFAFA;
  border-radius: 9px;
  padding-bottom: 30px;
  cursor: pointer;
  transition: all 0.3s;
}
.slider__item:hover {
  background-color: white;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
@media only screen and (max-width: 992px) {
  .slider__item:last-of-type {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .slider__item:nth-of-type(2) {
    display: none;
  }
}

.slider__link-info {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */
  letter-spacing: 0.06em;
  /* color-dark-3xl */
  color: #292929;
  transition: all 0.3s;
}
.slider__link-info:hover {
  background: #FDDCC4;
  border: #FDDCC4 solid 1px;
}

.slider__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}

.pagination {
  display: flex;
  gap: 20px;
}
@media only screen and (max-width: 992px) {
  .pagination {
    margin-top: 8px;
  }
}
@media only screen and (max-width: 767px) {
  .pagination {
    gap: 10px;
    margin: 0;
  }
}
.pagination .pagination__btn {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  padding: 15px;
}

.btn__disabled {
  border: 2px solid #CDCDCD;
  pointer-events: none;
}

.btn {
  background: #F1CDB3;
}

.btn__active {
  border: 2px solid #F1CDB3;
  transition: all 0.3s;
}
.btn__active:hover {
  background: #FDDCC4;
  border: #FDDCC4 solid 1px;
}

.burger-menu {
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  padding: 35px;
  background: #292929;
  transition: 1s right;
  position: fixed;
  display: flex;
  flex-direction: column;
}
.burger-menu.active {
  right: 0 !important;
  z-index: 1;
}
.burger-menu__item {
  margin-bottom: 15px;
}
.burger-menu__item:last-child {
  margin-bottom: 0;
}
.burger-menu__link {
  text-transform: uppercase;
  color: #010201;
}
.burger-menu__link:hover {
  color: pink;
}

.burger-btn {
  display: none;
  width: 30px;
  height: 22px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.5s;
}
.burger-btn.active {
  z-index: 2;
  transform: rotate(-90deg);
}
@media only screen and (max-width: 767px) {
  .burger-btn {
    display: flex;
  }
}
.burger-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F1CDB3;
  transition: all 0.5s;
}
.burger-btn span:nth-of-type(2) {
  top: calc(50% - 10px);
}
.burger-btn span:nth-of-type(3) {
  top: calc(50% + 10px);
}

.header {
  background: url(./assets/img/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  padding-top: 30px;
}
.header--pets {
  background: #FFFFFF;
  padding-bottom: 30px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header__logo-content h1 {
  font-size: 32px;
  font-weight: 400;
  color: #F1CDB3;
  font-family: "Georgia";
  line-height: 110%;
  letter-spacing: 0.06em;
}
.header__logo-content .header__logo-text {
  font-size: 13px;
  font-weight: 400;
  color: #FFF;
  font-family: "Arial";
  line-height: 100%;
  letter-spacing: 0.1em;
}
.header__logo-content .header__logo-text--main {
  margin-left: 4px;
  /* logo_subtitle */
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  /* color-light-xl */
  color: #FFFFFF;
}
.header__logo-content .header__logo-text--pets {
  margin-left: 4px;
  /* logo_subtitle */
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  /* color-dark-3xl */
  color: #292929;
}

@media only screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}
.nav__bar {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}
.nav__item {
  height: 24px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* identical to box height, or 24px */
  /* color-dark-s */
  color: #CDCDCD;
  transition: color 0.3s;
}
.nav__item:hover {
  color: #FAFAFA;
}
.nav__item--active1 {
  pointer-events: none;
  border-bottom: 3px solid #F1CDB3;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* identical to box height, or 24px */
  /* color-light-s */
  color: #FAFAFA;
}
.nav__item--pets {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* identical to box height, or 24px */
  /* color-dark-l */
  color: #545454;
}
.nav__item--pets:hover {
  color: #292929;
}
.nav__item--active2 {
  pointer-events: none;
  border-bottom: 3px solid #F1CDB3;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* identical to box height, or 24px */
  /* color-dark-3xl */
  color: #292929;
}
.not_only {
  padding-top: 90px;
  background: url(./assets/img/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
@media only screen and (max-width: 992px) {
  .not_only {
    padding-top: 60px;
  }
}
.not_only .not_only__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;
}
@media only screen and (max-width: 992px) {
  .not_only .not_only__container {
    flex-direction: column;
    gap: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .not_only .not_only__container {
    gap: 75px;
  }
}
.not_only .not_only__img {
  background-image: url(./assets/img/start-screen-puppy.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 698px;
  height: 728px;
}
@media only screen and (max-width: 992px) {
  .not_only .not_only__img {
    width: 569px;
    height: 593px;
    align-self: flex-end;
  }
}
@media only screen and (max-width: 767px) {
  .not_only .not_only__img {
    width: 260px;
    height: 277px;
    align-self: flex-end;
  }
}
.not_only .not_only__content {
  margin-bottom: 83px;
  width: 460px;
  height: 322px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 42px;
}
@media only screen and (max-width: 767px) {
  .not_only .not_only__content {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 767px) {
  .not_only .not_only__content {
    width: auto;
  }
}
.not_only .not_only__content p {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-align: left;
  line-height: 160%;
  color: #CDCDCD;
  /* or 24px */
  /* color-dark-s */
}
@media only screen and (max-width: 767px) {
  .not_only .not_only__content p {
    text-align: center;
    width: 300px;
  }
}
@media only screen and (max-width: 992px) {
  .not_only .not_only__content a {
    align-self: center;
  }
}

.not_only__title {
  width: 310px;
  letter-spacing: 0.06em;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  /* or 57px */
  display: flex;
  align-items: center;
  /* color-light-xl */
  color: #FFFFFF;
}
@media only screen and (max-width: 992px) {
  .not_only__title {
    letter-spacing: 0;
    text-align: left;
    width: 315px;
  }
}
@media only screen and (max-width: 767px) {
  .not_only__title {
    margin: 0 auto;
    width: 230px;
    font-size: 25px;
    text-align: center;
  }
}

.about {
  padding: 80px 0 100px;
}
@media only screen and (max-width: 767px) {
  .about {
    padding: 42px 0 42px;
  }
}
.about__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
}
@media only screen and (max-width: 992px) {
  .about__container {
    flex-direction: column-reverse;
    gap: 80px;
  }
}
@media only screen and (max-width: 767px) {
  .about__container {
    gap: 42px;
  }
}
.about__img {
  background-image: url(./assets/img/about-pets.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 300px;
  height: 408px;
}
@media only screen and (max-width: 767px) {
  .about__img {
    width: 260px;
    height: 354px;
  }
}
.about__content {
  width: 430px;
  height: 380px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media only screen and (max-width: 767px) {
  .about__content {
    align-items: center;
    width: 270px;
    height: auto;
    gap: 22px;
  }
}
.about__title {
  width: 360px;
  font-size: 35px;
  line-height: 130%;
}
@media only screen and (max-width: 767px) {
  .about__title {
    width: 280px;
    font-size: 25px;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .about__text {
    text-align: justify;
  }
}

.friends {
  padding: 80px 0 100px;
  background: #F6F6F6;
}
@media only screen and (max-width: 767px) {
  .friends {
    padding: 42px 0 42px;
  }
}
.friends__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
@media only screen and (max-width: 767px) {
  .friends__container {
    gap: 42px;
  }
}
.friends__title {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .friends__title {
    width: 300px;
  }
}
@media only screen and (max-width: 767px) {
  .friends__button {
    margin-top: 5px;
  }
}

.help {
  padding: 80px 0 100px;
}
@media only screen and (max-width: 767px) {
  .help {
    padding: 42px 0 42px;
  }
}
.help__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
}
@media only screen and (max-width: 767px) {
  .help__container {
    gap: 42px;
  }
}
.help__title {
  width: 315px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .help__title {
    margin: 0 auto;
    width: 222px;
    font-size: 25px;
  }
}
.help__content {
  width: 1029px;
  height: 281px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 55px 120px;
}
@media only screen and (max-width: 992px) {
  .help__content {
    height: auto;
    width: 630px;
    column-gap: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .help__content {
    height: auto;
    width: 290px;
    gap: 30px;
    justify-content: flex-start;
  }
}
.help__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media only screen and (max-width: 992px) {
  .help__item {
    width: 170px;
  }
}
@media only screen and (max-width: 767px) {
  .help__item {
    width: 130px;
    gap: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .help__item img {
    width: 46px;
    height: 49px;
  }
}
.help__subtitle {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}
@media only screen and (max-width: 767px) {
  .help__subtitle {
    font-size: 15px;
  }
}

.in-addition {
  padding: 80px 0 100px;
  background: #F6F6F6;
}
@media only screen and (max-width: 767px) {
  .in-addition {
    padding: 42px 0 42px;
  }
}
.in-addition__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
@media only screen and (max-width: 992px) {
  .in-addition__container {
    flex-direction: column-reverse;
    gap: 59px;
  }
}
@media only screen and (max-width: 767px) {
  .in-addition__container {
    gap: 42px;
  }
}
.in-addition__img {
  background-image: url(./assets/img/donation-dog.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 505px;
  height: 261px;
}
@media only screen and (max-width: 767px) {
  .in-addition__img {
    width: 260px;
    height: 135px;
    background-size: contain;
  }
}
.in-addition__content {
  width: 380px;
  height: 282px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (max-width: 767px) {
  .in-addition__content {
    align-items: center;
  }
}
.in-addition__title {
  width: 320px;
}
@media only screen and (max-width: 767px) {
  .in-addition__title {
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
    width: 220px;
  }
}
.in-addition__subtitle {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  /* identical to box height, or 17px */
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}
@media only screen and (max-width: 767px) {
  .in-addition__subtitle {
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
  }
}
.in-addition__link {
  transition: color 0.3s;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 349px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
  padding: 10px 15px;
  background: #F1CDB3;
  border-radius: 9px;
}
.in-addition__link:hover {
  background: #FDDCC4;
}
@media only screen and (max-width: 767px) {
  .in-addition__link {
    font-size: 15px;
    width: 281px;
  }
}
.in-addition__text {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  display: flex;
  align-items: center;
  /* color-dark-m */
  color: #B2B2B2;
}
@media only screen and (max-width: 767px) {
  .in-addition__text {
    text-align: justify;
    width: 280px;
  }
}

.footer {
  background: url(./assets/img/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  padding-top: 40px;
}
@media only screen and (max-width: 992px) {
  .footer {
    padding-top: 30px;
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
  gap: 160px;
}
@media only screen and (max-width: 992px) {
  .footer__container {
    gap: 65px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media only screen and (max-width: 767px) {
  .footer__container {
    width: 300px;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 234px;
}
.footer__content {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 234px;
}
@media only screen and (max-width: 992px) {
  .footer__content {
    margin-top: 0;
  }
}
@media only screen and (max-width: 767px) {
  .footer__content {
    height: auto;
    align-items: center;
  }
}
.footer__content:first-of-type {
  width: 279px;
  gap: 40px;
}
@media only screen and (max-width: 767px) {
  .footer__content:first-of-type {
    gap: 40px;
    width: 278px;
    height: 208px;
  }
}
.footer__content:last-of-type {
  width: 302px;
  gap: 30px;
}
@media only screen and (max-width: 767px) {
  .footer__content:last-of-type {
    width: 300px;
    height: 222px;
    gap: 44px;
  }
}
.footer__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 114px;
}
.footer__item {
  cursor: pointer;
  display: flex;
  gap: 20px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* or 23px */
  letter-spacing: 0.06em;
  /* color-primary */
  color: #F1CDB3;
}
@media only screen and (max-width: 767px) {
  .footer__img {
    width: 260px;
    height: 269px;
  }
}
.footer__title {
  line-height: 130%;
  letter-spacing: 0.06em;
}
@media only screen and (max-width: 767px) {
  .footer__title {
    text-align: center;
    font-size: 25px;
    width: 270px;
  }
}

.pets {
  background: #F6F6F6;
  padding: 80px 0 100px;
}
@media only screen and (max-width: 992px) {
  .pets {
    padding: 80px 0 75px;
  }
}
@media only screen and (max-width: 767px) {
  .pets {
    padding: 42px 0 42px;
  }
}
.pets__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
@media only screen and (max-width: 992px) {
  .pets__container {
    gap: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .pets__container {
    gap: 42px;
  }
}
.pets__main-title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}
@media only screen and (max-width: 767px) {
  .pets__main-title {
    width: 300px;
    text-align: center;
    font-size: 25px;
    margin: 0 auto;
  }
}
.pets__content {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 40px;
}
@media only screen and (max-width: 992px) {
  .pets__content {
    width: 580px;
  }
}
@media only screen and (max-width: 767px) {
  .pets__content {
    width: 280px;
    gap: 30px;
  }
}
.pets__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background: #FAFAFA;
  border-radius: 9px;
  padding-bottom: 30px;
  cursor: pointer;
  transition: all 0.3s;
}
.pets__item:hover {
  background-color: white;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
@media only screen and (max-width: 992px) {
  .pets__item:nth-of-type(8) {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .pets__item:nth-of-type(7) {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .pets__item:nth-of-type(6) {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .pets__item:nth-of-type(5) {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .pets__item:nth-of-type(4) {
    display: none;
  }
}
.pets__link-info {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */
  letter-spacing: 0.06em;
  /* color-dark-3xl */
  color: #292929;
  transition: all 0.3s;
}
.pets__link-info:hover {
  background: #FDDCC4;
  border: #FDDCC4 solid 1px;
}
.pets__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}

/*# sourceMappingURL=style.css.map */
