.about {
  padding: 80px 0 100px;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
  }
  &__img {
    background-image: url(./assets/img/about-pets.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 408px;
  }
  &__content {
    width: 430px;
    height: 380px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  &__title {
    width: 360px;
    font-size: 35px;
    line-height: 130%;
  }
  &__text {

  }
}