.help {
  padding: 80px 0 100px;
  @include respond(phone) {
    padding: 42px 0 42px;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
    @include respond(phone) {
      gap: 42px;
    }
  }
  &__title {
    width: 315px;
    text-align: center;
    @include respond(phone) {
      margin: 0 auto;
      width: 222px;
      font-size: 25px;
    }
  }
  &__content {
    width: 1029px;
    height: 281px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 55px 120px;
    @include respond(tab-land) {
      height: auto;
      width: 630px;
      column-gap: 60px;
    }
    @include respond(phone) {
      height: auto;
      width: 290px;
      gap: 30px;
      justify-content: flex-start;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    @include respond(tab-land) {
      width: 170px;
    }
    @include respond(phone) {
      width: 130px;
      gap: 20px;
    }
    & img {
      @include respond(phone) {
        width: 46px;
        height: 49px;
      }
    }
  }
  &__subtitle {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* identical to box height, or 23px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    /* color-dark-l */

    color: #545454;
    @include respond(phone) {
      font-size: 15px;
    }
  }
}