.not_only {
  padding-top: 90px;
  background: url(./assets/img/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  .not_only__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42px;
  }
  .not_only__img {
    background-image: url(./assets/img/start-screen-puppy.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 698px;
    height: 728px;
  }
  .not_only__content {
    width: 460px;
    height: 322px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
    & p {
      font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;
/* or 24px */

display: flex;
align-items: center;

/* color-dark-s */

color: #CDCDCD;
    }
  }
  .not_only__title {
    width: 310px;
    // font-size: 44px;
    // line-height: 130%;
    // display: flex;
    // align-items: center;
    // color: #FFFFFF;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    /* or 57px */
    
    display: flex;
    align-items: center;
    
    /* color-light-xl */
    
    color: #FFFFFF;
  }
}