.pets {
  background: #F6F6F6;
  padding: 80px 0 100px;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
  }
  &__main-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    /* color-dark-l */

    color: #545454;
  }
  &__content {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 40px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background: #FAFAFA;
    border-radius: 9px;
    padding-bottom: 30px;
  }
  &__link-info {
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    /* identical to box height, or 22px */
  
    letter-spacing: 0.06em;
  
    /* color-dark-3xl */
  
    color: #292929;
  }
  &__title {
    font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
  
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  
  /* color-dark-l */
  
  color: #545454;
  }
}

.slider__item {
}
.slider__title {
}
.slider__link-info {
}
.pets__pagination {
}

