.slider {
  display: flex;
  align-items: center;
  gap: 53px;
  @include respond(tab-land) {
    gap: 12px;
  }
}
.slider__button {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:first-of-type {
    transform: rotate(180deg);
  }
  transition: all .3s;
  &:hover {
    background: #FDDCC4;
    border: #FDDCC4 solid 1px;
  }
}
.slider__content {
  display: flex;
  gap: 90px;
  @include respond(tab-land) {
    gap: 40px;
  }
}
.slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background: #FAFAFA;
  border-radius: 9px;
  padding-bottom: 30px;
  cursor: pointer;
  transition: all .3s;
  &:hover {
    background-color: white;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  }
  &:last-of-type {
    @include respond(tab-land) {
      display: none;
    }
  }
}
.slider__link-info {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */

  letter-spacing: 0.06em;

  /* color-dark-3xl */

  color: #292929;
  transition: all .3s;
  &:hover {
    background: #FDDCC4;
    border: #FDDCC4 solid 1px;
  }
}
.slider__title {
  font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

/* color-dark-l */

color: #545454;
}