.pagination {
  display: flex;
  gap: 20px;
  .pagination__btn {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    padding: 15px;
  }
}
.btn__disabled {
  border: 2px solid #CDCDCD;
  pointer-events: none;
}
.btn {
  background: #F1CDB3;
}
.btn__active {
  border: 2px solid #F1CDB3;
  transition: all .3s;
  &:hover {
    background: #FDDCC4;
    border: #FDDCC4 solid 1px;
  }
}