.about {
  background-color: $color-white;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 93px;
    padding-bottom: 94px;
    @include respond(tab-land) {
      flex-direction: column;
      padding-top: 40px;
      padding-bottom: 95px;
    }
    @include respond(phone) {
      padding-top: 30px;
      padding-bottom: 31px;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    margin-right: 153px;
    @include respond(tab-land) {
      margin: 0 auto;
      width: 668px;
    }
    @include respond(phone) {
      width: 330px;
    }
  }
  &__title {
    @include text-style(40px, 400, "Inika");
    line-height: 52px;
    color: $color-title-accent;
    & span {
      color: $color-accent;
    }
    @include respond(tab-land) {
      text-align: center;
      width: 423px;
      margin: 0 auto;
      line-height: 46px;
      font-size: 35px;
    }
    @include respond(phone) {
      font-size: 25px;
      width: auto;
      line-height: 33px;
    }
  }
  &__text {
    @include text-style(20px, 400, "Inter");
    line-height: 30px;
    color: $color-text;
    margin-top: 40px;
    @include respond(tab-land) {
      margin: 50px 0 68px;
    }
    @include respond(phone) {
      font-size: 15px;
      line-height: 25px;
      margin-top: 17px;
      margin-bottom: 0px;
    }
  }
  &__img {
    @include respond(tab-land) {
      width: 250px;
      height: 258px;
    }
    @include respond(phone) {
      width: 150px;
      height: 147px;
    }
  }
}