.prices {
  background-color: $color-white;
  &__container {
    padding-top: 38px;
    padding-bottom: 129px;
    display: flex;
    justify-content: space-between;
  }
  &__info {
  }
  &__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: $color-black;
    &--accent {
      text-align: right;
      & span {
        color: $color-title-accent;
      }
    }
  }
  &__accordion-content {
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    padding: 34px 41px;
    margin-top: 94px;
  }
  &__promo {
    width: 452px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__button {
    @include text-style(20px, 400, "Inika");
    line-height: 26px;
    color: $color-accent;
    border: 1px solid $color-accent;
    border-radius: 5px;
    padding: 12px 40px;
    transition: .3s all;
    margin: 38px 0 39px;
    &:hover {
      background-color: $color-accent;
      color: $color-white;
    }
  }
  // &__img {
  // }
}
.accordion {
  &__btn {
    @include text-style(20px, 700, "Inter");
      line-height: 20px;
      color: $color-black;
  }
  // &__panel {
  // }
  &__text {
    @include text-style(10px, 300, "Inter");
      line-height: 10px;
      color: $color-title;
  }
  &__price {
    @include text-style(12px, 700, "Inter");
      line-height: 20px;
      & span {
        color: $color-accent;
        font-size: 16px;
      }
  }
  &__order {
    width: 86px;
    height: 25px;
@include text-style(14px, 700, "Inter");
    line-height: 20px;
    color: $color-title;
    background: $color-white;
    border-radius: 10px;
  }
}