.service {
  &__container {
    padding-top: 40px;
    padding-bottom: 121px;
    display: flex;
    flex-direction: column;
    @include respond(tab-land) {
      padding-top: 60px;
      padding-bottom: 70px;
    }
    @include respond(phone) {
      padding-top: 30px;
      padding-bottom: 27px;
    }
  }
  &__tag-container {
    display: flex;
    align-items: center;
    @include respond(tab-land) {
      align-items: flex-start;
      flex-direction: column;
    }
  }
  &__title {
    width: 306px;
    @include text-style(40px, 400, "Inika");
    line-height: 52px;
    color: $color-title-accent;
    margin-right: 140px;
    @include respond(tab-land) {
      margin-bottom: 40px;
      font-size: 35px;
      line-height: 46px;
    }
    @include respond(phone) {
      font-size: 25px;
      width: 187px;
      margin-bottom: 37px;
      line-height: 33px;
    }
  }
  &__tags {
    & button {
      @include text-style(20px, 400, "Inika");
      line-height: 26px;
      color: $color-accent;
      border: 1px solid $color-accent;
      border-radius: 5px;
      padding: 12px 40px;
      transition: .3s all;
      margin-right: 38px;
      &:nth-child(3) {
        margin-right: 0;
        @include respond(phone) {
          margin-top: 9px;
        }
      }
      &:hover {
        background-color: $color-accent;
        color: $color-white;
      }
      &:disabled {
        background-color: $color-title-accent;
        color: $color-white;
        border-color: $color-title-accent;
        transition: .4s ease-in-out;
      }
      @include respond(tab-land) {
        width: 161px;
        margin-right: 32px;
      }
      @include respond(phone) {
        padding: 8px 30px;
        font-size: 15px;
        line-height: 20px;
        margin-right: 5px;
        width: 121px;
      }
    }
  }
  &__btn {
    &.active {
      transition: .4s ease-in-out;
      background-color: $color-accent;
      color: $color-white;
    }
  }
  &__cards {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 330px);
    grid-template-rows: 2;
    justify-content: space-between;
    gap: 55px 116px;
    @include respond(tab-land) {
      margin: 40px auto 0;
      grid-template-columns: repeat(2, 281px);
      gap: 38px 106px;
    }
    @include respond(phone) {
      display: flex;
      flex-direction: column;
      gap: 34px;
    }
  }
}
.card {
  &__img {
    border-radius: 20px 20px 0px 0px;
    @include respond(tab-land) {
      width: 280px;
      height: 350px;
    }
    @include respond(phone) {
      overflow: hidden;
      width: 280px;
      height: 349px;
      margin: 0;
    }
  }

  &__info {
    padding-top: 10px;
    padding-bottom: 36px;
    border-bottom: 1px solid #E3E1D5;
    border-left: 1px solid #E3E1D5;
    border-right: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
    @include respond(tab-land) {
      padding-top: 10px;
      padding-bottom: 20px;
      width: 280px;
    }
  }
  &__title {
    @include text-style(20px, 700, "Inter");
    line-height: 20px;
    text-align: center;
    color: $color-accent;
    margin-bottom: 10px;
  }
  &__text {
    @include text-style(16px, 400, "Inter");
    line-height: 20px;
    text-align: center;
    color: $color-title;
    @include respond(tab-land) {
      width: 201px;
      margin: 0 auto;
    }
  }
  transition: .4s ease-in-out;
  &__blur {
    filter: blur(2px);
  }
}