.welcome {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 62px;
    padding-bottom: 94px;
    @include respond(tab-land) {
      flex-direction: row-reverse;
      padding: 0 0 70px;
    }
    @include respond(phone) {
      padding: 24px 0;
    }
  }
  &__img {
    flex: 0 1 auto;
    @include respond(tab-land) {
      width: 280px;
    }
    @include respond(phone) {
      display: none;
    }
  }
  &__info {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 224px;
    @include respond(tab-land) {
      margin: 0;
      padding-top: 40px;
    }
    @include respond(phone) {
      margin: 0;
      padding-top: 0;
    }
  }
  &__title {
    @include text-style(45px, 700, "Inter");
    line-height: 50px;
    color: $color-title;
    & span {
      color: $color-title-accent;
    }
    @include respond(tab-land) {
      font-size: 35px;
    }
    @include respond(phone) {
      font-size: 25px;
      line-height: 35px;
    }
  }
  &__text {
    @include text-style(20px, 400, "Inter");
    line-height: 35px;
    color: $color-text;
    margin-top: 42px;
    margin-bottom: 48px;
    @include respond(tab-land) {
      font-size: 16px;
      width: 341px;
      margin: 34px 0 30px 4px;
      line-height: 25px;
    }
    @include respond(phone) {
      margin: 20px 0;
      width: auto;
      line-height: 25px;
    }
  }
}
