html {
  scroll-behavior: smooth
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
}

[class*='__container'] {
  margin: 0 auto;

  @include respond(desktop) {
    width: 1200px;
  };

  @include respond(tab-land) {
    width: 708px;
  };

  @include respond(phone) {
    max-width: auto;
    width: unset;
  };
}
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}