$color-section: #EDF2EC;
$color-accent: #E06733;
$color-text: #636060;
$color-title-accent: #499A18;
$color-nav__links: #010201;
$color-black: #000;
$color-white: #fff;
$color-border: #E3E1D5;
$color-title: #717171;